@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Special+Elite&display=swap');

/* heading */
#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    margin:0;
    padding:0;
}
.logo{
    width: 80px;
    padding-top: 10px;
    border-radius:75px;
}
nav {
display:flex;
justify-content: space-around;
text-align: center;
text-decoration: none;
padding: 35px;
color: white;
}
#logo_link {
    padding: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero-msg h1,
#hero-msg h4,
main section {
    text-align: center;
}
header {
    background-color: #BF310D;
    display: grid;
    grid-template-columns: 150px auto;
}
h2 {
    margin: 0;
}
nav a:hover {
    background-color:#816C61;
    color: black;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.home-title {
    color: black;
    font-family: "Kalam", 'Bradley Hand', sans-serif;
    font-size: 5em;
    margin-top: 10px;
}
h4{
    color: black;
    font-family: "Lato", 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 0px;
}
/*body*/
.img-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}
.angels-img,
.gilded-img,
.silent-img
{
    box-sizing: border-box;
    border: 10px solid #816C61;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    max-width: 200px;
}
.quote{ 
    grid-column: 3/9;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
    margin-left: 50px;
    margin-right: 50px;
}
h3{
    font-family: "Kalam", 'Bradley Hand', sans-serif; 
    color: black;
    font-size: 3em;
    margin-top: 0%;
    margin-bottom: 0%;
}
p{
    font-size: 1.5em;
}
/*footer*/
footer{
    background-color: #BF310D;
}
footer a {
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img {
    padding: 15px;
}
/*Angels and Demons Child Page*/
.checked {
    color: orange;
  }
h1{
    color: black;
    font-family: "Kalam", 'Bradley Hand', sans-serif;
    font-size: 5em;
    margin-top: 10px;
    margin-bottom: 10px;
}
h5{
    color: black;
    font-family: "Kalam", 'Bradley Hand', sans-serif;
    font-size: 4em;
    margin-top:0;
    margin-bottom: 0;
}
.danbrown{
    box-sizing: border-box;
    border: 10px solid #816C61;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    max-width: 450px;
    margin-top:50px;
}
/* faq */
.closet-img,
.shadow-img
{
    box-sizing: border-box;
    border: 10px solid #816C61;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    max-width: 200px;
    margin:0 auto;
}
#quotefaq{
    box-shadow: 5px 5px 10px #6f7364;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.books-quote-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
